{{ define "main" }}

<section class="main">
    <div class="container">
        <div class="wrap home-wrap">
            <h1>Hi, my name's James.</h1>
            <p>I'm an affiliate marketer.</p>
            <p>I spend millions of dollars each year on <span style="color:#4267B2">Facebook</span>, <span style="color:#4285F4;">G</span><span
                style="color:#DB4437;">o</span><span style="color:#F4B400;">o</span><span style="color:#0F9D58;">g</span><span
                style="color:#0F9D58;">l</span><span style="display:inline-block;transform:rotate(-20deg);color:#DB4437;">e</span>, and <span style="color:#00659f;">Taboola</span>.</p>
            <p>Here on this site is where I write stuff.</p>
            <p>Read my "stuff" 👉🏼 <a href="/archives" title="read my stuff">here</a>.</p>
            <!--<p>If you like it, I encourage you to join me here.</p>-->
        </div>
    </div>
</section>

{{ end }}